@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
* {
	padding: 0;
	margin: 0;
}

:root {
	--color-primary-main-background: hsl(233, 47%, 7%);
	--color-primary-card-background: hsl(244, 38%, 16%);
	--color-primary-accent: hsl(277, 64%, 61%);

	--color-neutral-main-heading-and-stats: hsl(0, 0%, 100%);
	--color-neutral-main-paragraph: hsla(0, 0%, 100%, 0.75);
	--color-neutral-stats-heading: hsla(0, 0%, 100%, 0.6)
}


body {

	font-size: 15px;
}

main {
	padding: 1rem;
	height: 100%;
	background-color: var(--color-primary-main-background);
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border-radius: .75rem;
	background-color: var(--color-primary-card-background);

}

.img-container {
	width: 100%;
}

.img-container img {
	width: 100%;
	margin-bottom: 2rem;
}

.content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-title{
	font-family: 'Inter', serif;
	text-align: center;
	color: var(--color-neutral-main-heading-and-stats);
	width: 90%;
	font-size: 2em;
	margin-bottom: 2rem;
	font-weight: 700;
}

.description{
	font-family: 'Inter', serif;
	text-align: center;
	color: var(--color-neutral-main-paragraph);
	width: 80%;
	font-size: 1rem;
	margin-bottom: 3rem;
	font-weight: 400;
}
.stats{
	display: grid;
	grid-row-gap: 1rem;
	margin-bottom: 2rem;
}
.stats li{
	list-style: none;
}

.stat-title{
	color: var(--color-neutral-main-heading-and-stats);
	font-family: 'Inter', serif;
	font-weight: 700;
}

.stat-content{
	color: var(--color-neutral-stats-heading);
	font-family: 'Inter', serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: .75rem;
}

.highlight{
	color: var(--color-primary-accent);
}

@media only  screen and (min-width: 1024px) {
	body{
		height: 100vh;
		width: 100vw;

	}
	.card {
		width: 80%;
		height: 500px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-content: center;

	}
	.content{
		display: block;
		text-align: center;
		padding: 4rem 1rem 3rem;
	}

	.img-container{
		grid-column: 2;
		grid-row: 1;
		width: 100%;
		height: 100%;
	}

	.img-container img {
		height: 100%;
	}
	.stats{
		display: grid;
		grid-auto-flow: column;
		grid-row-gap: 1rem;
		margin-top: 2rem;
	}

	.main-title{
		text-align: initial;
		margin-left: 2rem;
	}

	.description{
		text-align: initial;
		margin-left: 2rem;
	}
}